.Box {
  border-radius: 10px;
  padding: 10px 10px;
  border: 5px solid coral;
  background-color: brown;
  border-top-style:double;
  border-top-width: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
   position: relative;

}
.Box a{
    text-decoration: none;
    color: black;
   
}
.box-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.Box:hover {
  background-color: beige;
}
.post-actions {
  position: absolute;
  bottom: 16px;
  right: 16px;
}